<h1 style="text-align:center">Reviews</h1>

<div class="table-responsive">
<table class="table table-hover table-bordered">
  <tr>
    <th>Review ID</th>
    <th>Dates</th>
    <th>Rating</th>
    <th>Title</th>
    <th>Comments</th>
    <th>Reviewer</th>
    <th>Details</th>
  </tr>
  <% @reviews.each do |review| %>
  <tr>
    <td><%= review.review_id %></td>
    <td>Review: <%= review.reviewdate %><br/>Response: <%= review.responsedate %></td>
    <td><%= review.rating %></td>
    <td><%= review.title %></td>
    <td><%= review.comments %></td>
    <td><%= review.firstname %> <%= review.lastname %><br/><%= review.nickname %><br/>
    <img src=<%= review.thumbnailurl %>/><br/><%= review.email_id %><br/><%= review.facebook_id %><br/>
    <%= review.city %> <%= review.state %></td>
    <td>Review url: <%= review.reviewurl%><br/>Sourcetype: <%= review.sourcetype %><br/>
    Response: <%=review.response %><br/>Featured: <%= review.featured %></td>
  </tr>
  <%end%>
</table>
</div>